/* #navbar_plugin_tasmota > a > i.on {
	color: #00FF00 !important;
}

#navbar_plugin_tasmota > a > i.off {
	color: #FF0000 !important;
}

#navbar_plugin_tasmota > a > i.unknown {
	color: #808080 !important;
} */

#navbar_plugin_tasmota > a > div.tasmota_label {
	display: none;
}

#navbar_plugin_tasmota > div.tooltip > div.tooltip-inner {
	text-align: left;
}

#navbar_plugin_tasmota > a > i.unknown::after {
	content: " ?";
	font-family: "Helvetica Neue",Helvetica,Arial,sans-serif;
}	}

/* TouchUI - Show Label */
#touch #navbar_plugin_tasmota > a > div.tasmota_label {
	padding-left: 5px;
	display: inline-block;
}

#TasmotaEditor table th, #TasmotaEditor table td {
	border-top: none;
	vertical-align: top;
}

#TasmotaEditor > div.modal-body {
	min-height: 460px;
}

#settings_plugin_tasmota > table > thead > tr > th, #settings_plugin_tasmota > table > tbody > tr > td {
	border-bottom-width: 1px;
	border-top-width: 1px;
	border-bottom: 1px solid #ddd;
	border-top: 1px solid #ddd;
}
