#navbar_plugin_tasmota > a > div.tasmota_label {
	display: none;
}

#navbar_plugin_tasmota > div.tooltip > div.tooltip-inner {
	text-align: left;
}

#navbar_plugin_tasmota > a > i.unknown::after {
	content: " ?";
	font-family: "Helvetica Neue",Helvetica,Arial,sans-serif;
}

/* TouchUI - Show Label */
#touch #navbar_plugin_tasmota > a > div.tasmota_label {
	padding-left: 5px;
	display: inline-block;
}

#TasmotaEditor table th, #TasmotaEditor table td {
	border-top: none;
	vertical-align: top;
}

#TasmotaEditor > div.modal-body {
	min-height: 460px;
}

#settings_plugin_tasmota > table > thead > tr > th, #settings_plugin_tasmota > table > tbody > tr > td {
	border-bottom: 1px solid #ddd;
	border-top: 1px solid #ddd;
}

/**
 * Progress bars with centered text
 */
.progress-tasmota.progress {
  position: relative;
  display: flex;
  overflow: hidden;
  height: 25px;
  font-size: 12px;
}

.progress-tasmota.progress .bar {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  color: white;
  height: 25px;
  font-size: 12px;
}

.progress-tasmota.progress .progress-text {
  position: absolute;
  display: flex;
  justify-content: center;
  align-items: center;
  left: 0;
  right: 0;
  top: 0;
  bottom: 0;
  background: white;
  transition: clip-path 1s linear;
  height: 25px;
  font-size: 12px;
}

input[type="datetime-local"].alert-error {
    color: #b94a48;
    background-color: #f2dede;
    border-color: #b94a48;
}

#TasmotaEditor input[type=checkbox] {
    margin-top: 0px;
    vertical-align: baseline;
}

.navbar .nav > li > a.tasmota_button {
    float: left;
}

/* For popover */
#navbar_plugin_tasmota div.popover {
    width: auto !important;
    max-width: 100em;
}
#navbar_plugin_tasmota div.popover table {
    width: auto !important;
    table-layout: auto !important;
}
#navbar_plugin_tasmota div.popover td {
    width: auto !important;
    white-space: nowrap;
}
#navbar_plugin_tasmota div.popover td:last-child {
    padding-left: 1em;
}
#navbar_plugin_tasmota div.popover h3.popover-title {
    white-space: nowrap;
}
#navbar_plugin_tasmota.hide_popover_content div.popover h3.popover-title {
    border: none;
}
#navbar_plugin_tasmota.hide_popover_content div.popover div.popover-content {
    display: none;
}
