<!-- ko foreach: settings.settings.plugins.tasmota.arrSmartplugs -->
<a class="tasmota_button" href="#" data-toggle="tooltip" data-html="true" data-bind="click: $root.toggleRelay,visible: $root.loginState.loggedIn(), tooltip: {title: $root.arrSmartplugsTooltips.get(ip()+'_'+idx()), placement: 'bottom'}" style="display: none;"><i class="icon" data-bind="css: [$root.arrSmartplugsStates.get(ip()+'_'+idx())(), icon(),(($root.processing().indexOf(ip()) > -1) ? 'icon-spin' : '')].join(' '), style: {color: $root.get_color($data)}" aria-hidden="true"></i><div class="tasmota_label" data-bind="text: $data.label_extended"></div></a>
<!-- /ko -->
<div id="TasmotaWarning" data-bind="with: selectedPlug" class="modal hide fade">
    <div class="modal-header">
        <a href="#" class="close" data-dismiss="modal" aria-hidden="true">&times;</a>
        <h3>OctoPrint-Tasmota</h3>
    </div>
    <div class="modal-body">
        <p>
            <!--ko text: label() + ' (' + ip() + ')'--><!--/ko--> is currently <!--ko text: $root.arrSmartplugsStates.get(ip()+'_'+idx())()--><!--/ko-->.
        </p>
        <p>
            {{ _('Are you sure you want to proceed?') }}
        </p>
    </div>
    <div class="modal-footer">
        <a href="#" class="btn" data-dismiss="modal" aria-hidden="true" data-bind="click: $root.cancelClick">{{ _('Cancel') }}</a>
        <a href="#" class="btn btn-danger" data-bind="click: $root.turnOff">{{ _('Proceed') }}</a>
    </div>
</div>
