<h4>Tasmota Settings</h4>
<table class="table table-condensed">
	<thead>
		<tr>
			<td>{{ _('Plug') }}</td>
			<td style="text-align:center">{{ _('Options') }}</td>
			<td style="text-align:center"><div class="btn-group"><button class="btn btn-mini" data-bind="click: addPlug"><i class="icon icon-plus" aria-hidden="true"></i></button></div></td>
		</tr>
	</thead>
	<tbody data-bind="sortable: { data: settings.settings.plugins.tasmota.arrSmartplugs, options: { cancel: '.unsortable', handle: '.move_plug', axis: 'y'} }">
		<tr data-bind="attr: {title: ip}">
			<td>
				<span data-bind="text: label" />
			</td>
			<td style="text-align:center">
				<i class="icon" data-bind="css: {'icon-check': automaticShutdownEnabled(),'icon-check-empty': !automaticShutdownEnabled()}" title="Automatic Power Off" />
				<i class="icon" data-bind="css: {'icon-check': displayWarning(),'icon-check-empty': !displayWarning()}" title="Warning Prompt" />
				<i class="icon" data-bind="css: {'icon-check': warnPrinting(),'icon-check-empty': !warnPrinting()}" title="Warn While Printing" />
				<i class="icon" data-bind="css: {'icon-check': thermal_runaway(),'icon-check-empty': !thermal_runaway()}" title="Thermal Runaway" />
				<i class="icon" data-bind="css: {'icon-check': autoConnect(),'icon-check-empty': !autoConnect()}" title="Auto Connect" />
				<i class="icon" data-bind="css: {'icon-check': autoDisconnect(),'icon-check-empty': !autoDisconnect()}" title="Auto Disconnect" />
				<i class="icon" data-bind="css: {'icon-check': gcodeEnabled(),'icon-check-empty': !gcodeEnabled()}" title="GCODE Trigger" />
				<i class="icon" data-bind="css: {'icon-check': sysCmdOn(),'icon-check-empty': !sysCmdOn()}" title="Run System Command On" />
				<i class="icon" data-bind="css: {'icon-check': sysCmdOff(),'icon-check-empty': !sysCmdOff()}" title="Run System Command Off" />
			</td>
			<td style="text-align:center">
				<div class="btn-group">
					<button class="btn btn-mini move_plug"><i class="icon icon-move" aria-hidden="true"></i></button>
					<button class="btn btn-mini" data-bind="click: $root.editPlug"><i class="icon icon-pencil" aria-hidden="true"></i></button>
					<button class="btn btn-mini btn-danger" data-bind="click: $root.removePlug"><i class="icon icon-trash" aria-hidden="true"></i></button>
				</div>
			</td>
		</tr>
	</tbody>
</table>

<div class="row-fluid">
	<div class="span6">
		<div class="row-fluid">
			<div class="control-group">
				<div class="controls">
					<label class="checkbox">
					<input type="checkbox" data-toggle="tooltip" data-bind="checked: settings.settings.plugins.tasmota.thermal_runaway_monitoring, tooltip: {}" title="{{ _('When enabled if temperatures exceed configured maximums enabled relay will be powered off.') }}" /> {{ _('Enable thermal runaway monitoring.') }}
					</label>
				</div>
			</div>
		</div>
		<div class="row-fluid" data-bind="visible: settings.settings.plugins.tasmota.thermal_runaway_monitoring()">
			<div class="control-group span6">
				<label class="control-label">{{ _('Max Bed Temp') }}</label>
				<div class="controls">
					<div class="input-append" data-toggle="tooltip" data-bind="tooltip: {}" title="{{ _('Maximum temperature bed can reach before automatic power off is triggered.') }}">
						<input type="number" min="0" class="input input-mini" data-bind="value: settings.settings.plugins.tasmota.thermal_runaway_max_bed, enable: settings.settings.plugins.tasmota.thermal_runaway_monitoring()" disabled />
						<span class="add-on">{{ _('degs') }}</span>
					</div>
				</div>
			</div>
			<div class="control-group span6">
				<label class="control-label">{{ _('Max Extruder Temp') }}</label>
				<div class="controls">
					<div class="input-append" data-toggle="tooltip" data-bind="tooltip: {}" title="{{ _('Maximum temperature extruders can reach before automatic power off is triggered.') }}">
						<input type="number" min="0" class="input input-mini" data-bind="value: settings.settings.plugins.tasmota.thermal_runaway_max_extruder, enable: settings.settings.plugins.tasmota.thermal_runaway_monitoring()" disabled />
						<span class="add-on">{{ _('degs') }}</span>
					</div>
				</div>
			</div>
		</div>
		<div class="row-fluid">
			<div class="control-group">
				<div class="controls">
					<label class="checkbox">
					<input type="checkbox" title="{{ _('When enabled if printer reports an error relays with the option enabled will be automatically powered off.') }}" data-toggle="tooltip" data-bind="checked: settings.settings.plugins.tasmota.event_on_error_monitoring, tooltip: {}" /> {{ _('Error Event Monitoring') }}
					</label>
				</div>
			</div>
		</div>
		<div class="row-fluid">
			<div class="control-group">
				<div class="controls">
					<label class="checkbox">
					<input type="checkbox" title="{{ _('When enabled if printer becomes disconnected relays with the option enabled will be automatically powered off.') }}" data-toggle="tooltip" data-bind="checked: settings.settings.plugins.tasmota.event_on_disconnect_monitoring, tooltip: {}" /> {{ _('Disconnect Event Monitoring') }}
					</label>
				</div>
			</div>
		</div>
		<div class="row-fluid">
			<div class="control-group">
				<div class="controls">
					<label class="checkbox">
					<input type="checkbox" title="{{ _('When enabled auto power on enabled devices when file is uploaded to OctoPrint with the option to automatically start printing.') }}" data-toggle="tooltip" data-bind="checked: settings.settings.plugins.tasmota.event_on_upload_monitoring, tooltip: {}" /> {{ _('Upload Event Monitoring') }}
					</label>
				</div>
			</div>
		</div>
		<div class="row-fluid">
			<div class="control-group">
				<div class="controls">
					<label class="checkbox">
					<input type="checkbox" title="{{ _('When enabled auto power on enabled devices when the Connect button is pressed in OctoPrint.') }}" data-toggle="tooltip" data-bind="checked: settings.settings.plugins.tasmota.event_on_connecting_monitoring, tooltip: {}" /> {{ _('Connect Event Monitoring') }}
					</label>
				</div>
			</div>
		</div>
		<div class="row-fluid">
			<div class="control-group">
				<div class="controls">
					<label class="checkbox">
					<input type="checkbox" title="{{ _('When enabled the status of relays will be checked based on the Polling Interval supplied.') }}" data-toggle="tooltip" data-bind="checked: settings.settings.plugins.tasmota.polling_enabled, tooltip: {}" /> {{ _('Enable polling of status.') }}
					</label>
				</div>
			</div>
		</div>
		<div class="row-fluid" data-bind="visible: settings.settings.plugins.tasmota.polling_enabled()">
			<div class="control-group span6">
				<label class="control-label">{{ _('Polling Interval') }}</label>
				<div class="controls">
					<div class="input-append" data-toggle="tooltip" data-bind="tooltip: {}" title="{{ _('How long to wait between status checks of all relays when polling is enabled.') }}">
						<input type="number" min="0" class="input input-mini" data-bind="value: settings.settings.plugins.tasmota.polling_interval, enable: settings.settings.plugins.tasmota.polling_enabled" disabled />
						<span class="add-on">{{ _('mins') }}</span>
					</div>
				</div>
			</div>
		</div>
		<div class="row-fluid">
			<div class="control-group span6">
				<label class="control-label">{{ _('Cost per kWh') }}</label>
				<div class="controls">
					<input type="number" title="{{ _('Amount used to multiply total kWh by to estimate power cost. Leave 0 if you do not have a power reporting device.') }}" data-toggle="tooltip" min="0" step="0.1" class="input input-mini" data-bind="value: settings.settings.plugins.tasmota.cost_rate, tooltip: {}" />
				</div>
			</div>
		</div>
		<div class="row-fluid">
			<div class="control-group span6">
				<label class="control-label">{{ _('Request Timeout') }}</label>
				<div class="controls">
                    <div class="input-append" data-toggle="tooltip" data-bind="tooltip: {}" title="{{ _('How many seconds to wait for responses from tasmota device before it is considered offline.') }}">
					    <input type="number" min="3" class="input input-mini" data-bind="value: settings.settings.plugins.tasmota.request_timeout" />
                        <span class="add-on">{{ _('secs') }}</span>
                    </div>
                </div>
			</div>
		</div>
		<div class="row-fluid">
			<div class="control-group">
				<div class="controls">
					<label class="checkbox">
					<input type="checkbox" title="{{ _('Report additional information in plugin_tasmota_debug.log for troubleshooting.') }}" data-toggle="tooltip" data-bind="checked: settings.settings.plugins.tasmota.debug_logging, tooltip: {}" /> {{ _('Enable debug logging.') }}
					</label>
				</div>
			</div>
		</div>
	</div>
	<div class="span6">
		<div class="row-fluid">
			<div class="control-group">
				<div class="controls">
					<label class="checkbox">
					<input type="checkbox" title="{{ _('Automatically power off all relays with the option Off on Idle enabled after configured idle timeout, target tempoerature is reached, and timelapse is completed.') }}" data-toggle="tooltip" data-bind="checked: settings.settings.plugins.tasmota.powerOffWhenIdle, tooltip: {}" /> {{ _('Power Off on Idle') }}
					</label>
				</div>
			</div>
		</div>
		<div class="row-fluid" data-bind="visible: settings.settings.plugins.tasmota.powerOffWhenIdle()">
			<div class="control-group span6">
				<label class="control-label">{{ _('Abort Power Off Timeout') }}</label>
				<div class="controls">
					<div class="input-append" data-toggle="tooltip" data-bind="tooltip: {}" title="{{ _('Pop up will be displayed for this amount of time to allow for delaying power off of relays.') }}">
						<input type="number" class="input-mini text-right" data-bind="value: settings.settings.plugins.tasmota.abortTimeout, enable: settings.settings.plugins.tasmota.powerOffWhenIdle()" disabled />
						<span class="add-on">{{ _('secs') }}</span>
					</div>
				</div>
			</div>
		</div>
		<div class="row-fluid" data-bind="visible: settings.settings.plugins.tasmota.powerOffWhenIdle()">
			<div class="control-group span6">
				<label class="control-label">{{ _('Idle Timeout') }}</label>
				<div class="controls">
					<div class="input-append" data-toggle="tooltip" data-bind="tooltip: {}" title="{{ _('Amount of time that will lapse before printer is considered idle and relays will be powered off.') }}">
						<input type="number" class="input-mini text-right" data-bind="value: settings.settings.plugins.tasmota.idleTimeout, enable: settings.settings.plugins.tasmota.powerOffWhenIdle() && settings.settings.plugins.tasmota.powerOffWhenIdle()" disabled />
						<span class="add-on">{{ _('mins') }}</span>
					</div>
				</div>
			</div>
		</div>
		<div class="row-fluid" data-bind="visible: settings.settings.plugins.tasmota.powerOffWhenIdle()">
			<div class="control-group span6">
				<label class="control-label">{{ _('Idle Target Temperature') }}</label>
				<div class="controls">
					<div class="input-append" data-toggle="tooltip" data-bind="tooltip: {}" title="{{ _('Power off will be delayed untill all heaters reach this temperature.') }}">
						<input type="number" class="input-mini text-right" data-bind="value: settings.settings.plugins.tasmota.idleTimeoutWaitTemp, enable: settings.settings.plugins.tasmota.powerOffWhenIdle() && settings.settings.plugins.tasmota.powerOffWhenIdle()" disabled />
						<span class="add-on">{{ _('degs') }}</span>
					</div>
				</div>
			</div>
		</div>
		<div class="row-fluid" data-bind="visible: settings.settings.plugins.tasmota.powerOffWhenIdle()">
			<div class="control-group">
				<label class="control-label">{{ _('GCode Commands to Ignore for Idle') }}</label>
				<div class="controls" data-toggle="tooltip" data-bind="tooltip: {}" title="{{ _('Comma separated list of gcode commands to ignore for determining printer idle state.') }}">
					<input type="text" class="input-block-level" data-bind="value: settings.settings.plugins.tasmota.idleIgnoreCommands, enable: settings.settings.plugins.tasmota.powerOffWhenIdle() && settings.settings.plugins.tasmota.powerOffWhenIdle()" disabled />
				</div>
			</div>
		</div>
	</div>
</div>

<div id="TasmotaEditor" data-bind="with: selectedPlug" class="modal large hide fade">
	<div class="modal-header">
		<a href="#" class="close" data-dismiss="modal" aria-hidden="true">&times;</a>
		<h3>Tasmota Editor</h3>
	</div>
	<div class="modal-body">
		<table class="table table-condensed">
			<tr>
				<td><div class="control-group" data-bind="css: {error: ip().length == 0}"><div class="controls" data-toggle="tooltip" data-bind="tooltip: {container: '#TasmotaEditor'}" title="{{ _('IP adress of your tasmota device.') }}"><label class="control-label">{{ _('IP') }}</label><input type="text" class="input-block-level" data-bind="value: ip, valueUpdate: 'keyup'" /></div></div></td>
				<td><div class="controls" data-toggle="tooltip" data-bind="tooltip: {container: '#TasmotaEditor'}" title="{{ _('Index of the relay, specifically used for multiple plug relay devices.') }}"><label class="control-label">{{ _('Index') }}</label><input type="number" min="1" class="input-block-level" data-bind="value: idx" /></div></td>
				<td><div class="controls" data-toggle="tooltip" data-bind="tooltip: {container: '#TasmotaEditor'}" title="{{ _('Name to display on hover of the navbar button.') }}"><label class="control-label">{{ _('Label') }}</label><input type="text" class="input input-small" data-bind="value: label" /></div></td>
				<td><div class="controls" data-toggle="tooltip" data-bind="tooltip: {container: '#TasmotaEditor'}" title="{{ _('Username to connect to Tasmota web interface if required.') }}"><label class="control-label">{{ _('Username') }}</label><input type="text" class="input-block-level" data-bind="value: username" /></div></td>
				<td><div class="controls" data-toggle="tooltip" data-bind="tooltip: {container: '#TasmotaEditor'}" title="{{ _('Password to connect to Tasmota web interface if required.') }}"><label class="control-label">{{ _('Password') }}</label><input type="text" class="input input-small" data-bind="value: password" /></div></td>
				<td style="text-align: center;vertical-align: middle;"><button class="btn" data-bind="click: $root.checkSetOption26, enable: ip().length > 0">Verify</button></td>
			</tr>
			<tr>
				<td><div class="controls" data-toggle="tooltip" data-bind="tooltip: {container: '#TasmotaEditor'}" title="{{ _('Color to display when device is on.') }}"><label class="control-label">{{ _('On Color') }}</label><input type="color" class="input input-small" data-bind="value: on_color" /></div></td>
				<td><div class="controls" data-toggle="tooltip" data-bind="tooltip: {container: '#TasmotaEditor'}" title="{{ _('Color to display when device is off.') }}"><label class="control-label">{{ _('Off Color') }}</label><input type="color" class="input input-small" data-bind="value: off_color" /></div></td>
				<td><div class="controls" data-toggle="tooltip" data-bind="tooltip: {container: '#TasmotaEditor'}" title="{{ _('Color to display when device status is unknown.') }}"><label class="control-label">{{ _('Unknown Color') }}</label><input type="color" class="input input-small" data-bind="value: unknown_color" /></div></td>
				<td><div class="controls" data-toggle="tooltip" data-bind="tooltip: {container: '#TasmotaEditor'}" title="{{ _('Fontawesom icon class name for navbar button.') }}"><label class="control-label">{{ _('Icon Class') }}</label><input type="text" class="input-block-level" data-bind="value: icon, iconpicker: icon,iconpickerOptions: {hideOnSelect: true, collision: true}" /></div></td>
				<td><div class="controls" data-toggle="tooltip" data-bind="tooltip: {container: '#TasmotaEditor'}" title="{{ _('Is an LED or WS2812 type device connected, enter brightness value as percentage.') }}"><label class="control-label"><input type="checkbox" data-bind="checked: is_led" /> {{ _('LED') }}</label><div class="input-append" data-bind="visible: is_led"><input type="number" min="1" max="100" class="input-small" data-bind="value: brightness" /><span class="add-on">%</span></div></div></td>
				<td><div class="controls" data-toggle="tooltip" data-bind="tooltip: {container: '#TasmotaEditor'}" title="{{ _('Sensor identifier for connected sensors, ie DHT11 or BME280') }}"><label class="control-label">{{ _('Sensor Identifier') }}</label><input type="text" class="input-block-level" data-bind="value: sensor_identifier" /></div></td>
			</tr>
			<tr>
				<td><div class="controls" data-toggle="tooltip" data-bind="tooltip: {container: '#TasmotaEditor'}" title="{{ _('Automatically power on when file is uploaded.') }}"><label class="checkbox"><input type="checkbox" data-bind="checked: event_on_upload, enable: $root.settings.settings.plugins.tasmota.event_on_upload_monitoring()" /> On with Upload</label></div></td>
				<td><div class="controls" data-toggle="tooltip" data-bind="tooltip: {container: '#TasmotaEditor'}" title="{{ _('Automatically power on when pressing Connect button.') }}"><label class="checkbox"><input type="checkbox" data-bind="checked: event_on_connecting, enable: $root.settings.settings.plugins.tasmota.event_on_connecting_monitoring()" /> On with Connect</label></div></td>
				<td><div class="controls" data-toggle="tooltip" data-bind="tooltip: {container: '#TasmotaEditor'}" title="{{ _('Automatically power off when printer is idle.') }}"><label class="checkbox"><input type="checkbox" data-bind="checked: automaticShutdownEnabled, enable: $root.settings.settings.plugins.tasmota.powerOffWhenIdle()" /> Off on Idle</label></div></td>
				<td><div class="controls" data-toggle="tooltip" data-bind="tooltip: {container: '#TasmotaEditor'}" title="{{ _('Power off if temperature exceeds configured max temperatures.') }}"><label class="checkbox"><input type="checkbox" data-bind="checked: thermal_runaway" /> Thermal Runaway</label></div></td>
				<td><div class="controls" data-toggle="tooltip" data-bind="tooltip: {container: '#TasmotaEditor'}" title="{{ _('Automatically power off this relay when Error Event Monitoring is enabled.') }}"><label class="checkbox"><input type="checkbox" data-bind="checked: event_on_error, enable: $root.settings.settings.plugins.tasmota.event_on_error_monitoring()" disabled /> {{ _('Off on Error') }}</label></div></td>
				<td><div class="controls"data-toggle="tooltip" data-bind="tooltip: {container: '#TasmotaEditor'}" title="{{ _('Automatically power off this relay when Disconnect Event Monitoring is enabled.') }}"><label class="checkbox"><input type="checkbox" data-bind="checked: event_on_disconnect, enable: $root.settings.settings.plugins.tasmota.event_on_disconnect_monitoring()" disabled /> {{ _('Off on Disconnect') }}</label></div></td>
			</tr>
			<tr>
				<td>
					<div class="row-fluid controls input-append" data-toggle="tooltip" data-bind="tooltip: {container: '#TasmotaEditor'}" title="{{ _('Automatically connect to your printer after configured delay from power on.') }}">
						<label class="checkbox"><input type="checkbox" data-bind="checked: autoConnect" /> Auto Connect</label>
						<input type="text" data-bind="value: autoConnectDelay,visible: autoConnect" class="input input-mini" />
						<span class="add-on" data-bind="visible: autoConnect">secs</span>
					</div>
				</td>
				<td>
					<div class="row-fluid controls input-append" data-toggle="tooltip" data-bind="tooltip: {container: '#TasmotaEditor'}" title="{{ _('Automatically disconnect from printer and then power off relay after configured delay.') }}">
						<label class="checkbox"><input type="checkbox" data-bind="checked: autoDisconnect" /> Auto Disconnect</label>
						<input type="text" data-bind="value: autoDisconnectDelay,visible: autoDisconnect" class="input input-mini" />
						<span class="add-on" data-bind="visible: autoDisconnect">secs</span>
					</div>
				</td>
				<td></td>
				<td><div class="controls" data-toggle="tooltip" data-bind="tooltip: {container: '#TasmotaEditor'}" title="{{ _('Prompt for confirmation before powering off via the navbar button.') }}"><label class="checkbox"><input type="checkbox" data-bind="checked: displayWarning" /> Warning Prompt</label></div></td>
				<td><div class="controls" data-toggle="tooltip" data-bind="tooltip: {container: '#TasmotaEditor'}" title="{{ _('Prompt for confimration before powering off when a print is active.') }}"><label class="checkbox"><input type="checkbox" data-bind="checked: warnPrinting" /> Warn While Printing</label></div></td>
				<td></td>
			</tr>
			<tr>
				<td colspan="3">
					<div class="row-fluid controls" data-toggle="tooltip" data-bind="tooltip: {container: '#TasmotaEditor'}" title="{{ _('Use tasmota\'s built in countdown functionality to offload the power operations. Helpful for safe shutdown of pi.') }}">
						<label class="checkbox"><input type="checkbox" data-bind="checked: use_backlog"/> Use Countdown Timers</label>
					</div>
					<div class="row-fluid" data-bind="visible: use_backlog">
						<div class="span6">
							<div class="controls input-append" data-toggle="tooltip" data-bind="tooltip: {container: '#TasmotaEditor'}" title="{{ _('Amount of delay in seconds for powering on device.') }}">
								<label class="control-label">{{ _('On Delay Countdown') }}</label>
								<input type="number" min="0" data-bind="value: backlog_on_delay" class="input input-mini" />
								<span class="add-on">secs</span>
							</div>
						</div>
						<div class="span6">
							<div class="controls input-append" data-toggle="tooltip" data-bind="tooltip: {container: '#TasmotaEditor'}" title="{{ _('Amount of delay in seconds for powering off device.') }}">
								<label class="control-label">{{ _('Off Delay Countdown') }}</label>
								<input type="number" min="0" data-bind="value: backlog_off_delay" class="input input-small" />
								<span class="add-on">secs</span>
							</div>
						</div>
					</div>
				</td>
				<td colspan="3">
					<div class="row-fluid controls" data-toggle="tooltip" data-bind="tooltip: {container: '#TasmotaEditor'}" title="{{ _('When checked this will enable the processing of M80 and M81 commands from gcode to power on/off device.') }}">
						<label class="checkbox"><input type="checkbox" data-bind="checked: gcodeEnabled"/>GCODE On <span class="label" title="Click to copy this gcode command to power on relay to the clipboard." data-bind="text: $root.gcodeOnString($data),visible: gcodeEnabled,click: function(data, evt) {copyToClipboard($(evt.currentTarget).text())}"></span> / Off <span class="label" title="Click to copy this gcode command to power off relay." data-bind="text: $root.gcodeOffString($data),visible: gcodeEnabled,click: function(data, evt) {copyToClipboard($(evt.currentTarget).text())}"></span> Trigger</label>
					</div>
					<div class="row-fluid" data-bind="visible: gcodeEnabled">
						<div class="span6">
							<div class="controls input-append" data-toggle="tooltip" data-bind="tooltip: {container: '#TasmotaEditor'}" title="{{ _('Amount of delay in seconds before powering on device.') }}">
								<label class="control-label">{{ _('GCODE On Delay') }}</label>
								<input type="number" data-bind="value: gcodeOnDelay" class="input input-mini" />
								<span class="add-on">secs</span>
							</div>
						</div>
						<div class="span6">
							<div class="controls input-append" data-toggle="tooltip" data-bind="tooltip: {container: '#TasmotaEditor'}" title="{{ _('Amount of delay in seconds for powering off device.') }}">
								<label class="control-label">{{ _('GCODE Off Delay') }}</label>
								<input type="number" data-bind="value: gcodeOffDelay" class="input input-mini" />
								<span class="add-on">secs</span>
							</div>
						</div>
					</div>
				</td>
			</tr>
			<tr>
				<td colspan="3">
					<div class="row-fluid controls" data-toggle="tooltip" data-bind="tooltip: {container: '#TasmotaEditor'}" title="{{ _('When checked will run the system command configured in setting below after sending on command to device.') }}">
						<label class="checkbox"><input type="checkbox" data-bind="checked: sysCmdOn"/> Run System Command After On</label>
					</div>
					<div class="row-fluid controls" data-bind="visible: sysCmdOn">
						<div class="span8">
							<div class="controls" data-toggle="tooltip" data-bind="tooltip: {container: '#TasmotaEditor'}" title="{{ _('System command to run after the on command is sent to device.') }}">
								<label class="control-label">{{ _('System Command to Run') }}</label>
								<input type="text" data-bind="value: sysRunCmdOn,visible: sysCmdOn" class="input-block-level" />
							</div>
						</div>
						<div class="span4">
							<div class="controls input-append" data-toggle="tooltip" data-bind="tooltip: {container: '#TasmotaEditor'}" title="{{ _('Delay in seconds before system command is run.') }}">
								<label class="control-label">{{ _('Delay') }}</label>
								<input type="number" data-bind="value: sysCmdOnDelay"  class="input input-mini" />
								<span class="add-on">secs</span>
							</div>
						</div>
					</div>
				</td>
				<td colspan="3">
					<div class="row-fluid controls" data-toggle="tooltip" data-bind="tooltip: {container: '#TasmotaEditor'}" title="{{ _('When checked will run the system command configured in setting below before sending off command to device.') }}">
						<label class="checkbox"><input type="checkbox" data-bind="checked: sysCmdOff"/> Run System Command Before Off</label>
					</div>
					<div class="row-fluid controls" data-bind="visible: sysCmdOff">
						<div class="span8">
							<div class="controls" data-toggle="tooltip" data-bind="tooltip: {container: '#TasmotaEditor'}" title="{{ _('System command to run before the on command is sent to device.') }}">
								<label class="control-label">{{ _('System Command to Run') }}</label>
								<input type="text" data-bind="value: sysRunCmdOff,visible: sysCmdOff" class="input-block-level" />
							</div>
						</div>
						<div class="span4">
							<div class="controls input-append" data-toggle="tooltip" data-bind="tooltip: {container: '#TasmotaEditor'}" title="{{ _('Delay in seconds after system command is run before powering off device.') }}">
								<label class="control-label">{{ _('Delay') }}</label>
								<input type="number" data-bind="value: sysCmdOffDelay"  class="input input-mini" />
								<span class="add-on">secs</span>
							</div>
						</div>
					</div>
				</td>
			</tr>
		</table>
	</div>
	<div class="modal-footer">
		<a href="#" class="btn" data-dismiss="modal" aria-hidden="true">{{ _('Close') }}</a>
	</div>
</div>
